.butik-bgd-img {
    background-image: url('../../Images/Butik-bgd-img.jpg');

    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.butik-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.butik-sub {
    height: clamp(400px, 45vw, 500px);
    background-color: var(--clr-bgd-green);
    color: var(--clr-font-light);
}

.butik-cont {
    background-color: white;
    display: inline-flex;
    height: clamp(110px, 25vw, 500px);
    /* width: clamp(300px, 50vw, 60%); */
    /* width: 100%; */
    margin-bottom: 0;
}

.butik-pic {
    /* background-color: red; */
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: clamp(300px, 80vw, 2000px);
    justify-content: space-around;
    
}

.butik-pic img {
    height: clamp(90px, 22vw, 450px);
    width: clamp(90px, 22vw, 450px);
}