.butik-bgd-img {
    background-image: url('../../Images/Butik-bgd-img.jpg');

    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.butik-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.butik-sub {
    height: clamp(400px, 45vw, 500px);
    background-color: var(--clr-bgd-green);
    color: var(--clr-font-light);
}