.photo-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    align-items: center;
}

.photo-box img {
    width: clamp(150px, 45vw, 250px);
    transition: filter 0.3s ease, opacity 0.3s ease;
}

.photo-box:hover img {
    filter: blur(3px);
    opacity: 0.3;
}

.member-overlay {
    position: absolute;
    text-align: center;
    font-size: clamp(.6rem, 2vw, 1rem);
    /* left: 40%; */
    /* transform: translateX(-50%); */
    /* filter: drop-shadow(0 0 20px var(--bgd)); */
    overflow: hidden;
    width: 80%;
    height: 0;
    transition: width 0.3s ease, height 0.3s ease;
}

.photo-box:hover .member-overlay {
    /* width: 80%; */
    height: 100%;
}