@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/* Section 1 - About us */

:root {
    --bgd: #E9F2F3;
    --text: #2c3e50;
    --menuBgd: #C1D9E9;
    --buttonClr: #C9E4D6;
    --accentClr: #D1F2EB;
}

.section-1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 20vh;
    position: relative;
    top: -50px;
    margin-bottom: 5%;
  
    animation: abt-fade-in;          /* Animation */
    animation-duration: 2s;
    animation-iteration-count: 1;
  }

@keyframes abt-fade-in {
    0% { opacity: 0%; }
    100% { opacity: 100%; }
}

.section-1 h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: bold;
    color: var(--text);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about-text h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    height: 25%;
    padding: 0 0 20px 0;
}

.about-sub {
    color: var(--text);

    display: flex;
    flex-direction: row;
    width: 90vw;
    position: relative;
    margin-top: 50px;
    /* border: 1px solid blue; */
}

.about-img {
    padding: 10px;
    height: 100%;
    width: 90%;
    border-radius: 50%;

    background-image: url('../Images/about-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid red; */
}

form {
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

i {
    position: absolute;
    border: 2px solid rgba(0, 0, 0, 0.054);
    inset: 0;
    transition: 0.5;
    z-index: 1;
}

.b1 {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: clockwise 10s linear infinite;
    transition: .1s;

}

.b2 {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: clockwise 8s linear infinite;
    transition: .1s;
}

.b3 {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: counterclockwise 18s linear infinite;
    transition: .1s;

}

form:hover .b1 {
    border: 4px solid #f4ffb3;
    filter: drop-shadow(0 0 20px yellow);
}

form:hover .b2 {
    border: 4px solid #B3D1FF;
    filter: drop-shadow(0 0 20px blue);
}

form:hover .b3 {
    border: 4px solid #FFB3B3;
    filter: drop-shadow(0 0 20px red);
}

@keyframes clockwise {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);}
}

@keyframes counterclockwise {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

.about-spacer {
    content: '';
    width: 20%;
    /* border: 1px solid black; */
}

.section-1 .about-text {
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    /* padding-right: 8vw; */
}

@media(max-width: 1040px) {
  .about-spacer {
    width: 10%;
  }
}

@media(max-width: 800px) {
    .portal {
      display: none;
    }
    
    .about-sub div {
      display: none;
    }
    .section-1 .about-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .section-1 h1 {
        font-size: 2.5rem;
    }
  }