@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

#root {
  --bgd: #E9F2F3;
  --text: #2c3e50;
  --menuBgd: #C1D9E9;
  --buttonClr: #C9E4D6;
  --accentClr: #D1F2EB;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: var(--bgd);
  display: grid;
  place-content: center;
  flex: 1;
  padding: 0px;
  text-align: center;
  box-sizing: content;
}

/* .separator {
  top: 20px;
  display: block;
  left: 10%;
  height: 8%;
  width: 80%;
  position: relative;
  margin-top: 80px;
  border: 3px solid white;
  border-radius: 10px 80px 10px 80px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 255, 0.651));
  padding: 10px;
} */

.galery {
  margin-top: 40px;
}

.top-link {
  position: relative;
  top: -50px;
}

.fade-comp {
  animation: scale-fade-in linear forwards;                    /* Animation */
  animation-timeline: view();
  animation-range: 0 800px;

  animation-duration: 3s;
  animation-iteration-count: 1;

}

@keyframes scale-fade-in {
  from { scale: .5; opacity: 0; }
  to { scale: 1; opacity: 1; }
}