.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  background-color: rgb(172, 107, 105);
  font-family: "EB Garamond", serif;
  color: #fff5e9;
}

.footer-cont {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  margin-top: 50px;
}

.columns {
  display: flex;
  flex: 1 2;
  flex-direction: row;
  justify-content: space-around;
  width: 20%;
}

.left-column, .right-column {
  text-align: left;
}

.footer h2 {
  font-size: 3rem;
  font-weight: normal;
}

.footer a {
  color: #fff5e9;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: none;
}

.footer p {
  font-size: 1.2rem;
}

@media screen and (max-width: 1810px) {
  .columns {
    width: 40%;
  }
}
 
@media screen and (max-width: 1690px) {
  .footer-cont {
    margin-top: 10px;
    height: 23vh;
  }

  .columns {
    width: 45%;
  }
  
  .footer h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 980px) {
  .footer-cont {
    margin-top: 5px;
    height: 16vh;
  }

  .columns {
    width: 90%;
  }
  
  .footer h2 {
    font-size: 1.5rem;
  }
  
  .footer p {
    font-size: .7rem;
  }
}

@media screen and (max-width: 980px) {
  .footer-cont {
    height: 18vh;
  }
}