/* Section 2  - Galery */

:root {
    --dir: -100px;
    --bgd: #E9F2F3;
    --text: #2c3e50;
    --menuBgd: #C1D9E9;
    --buttonClr: #C9E4D6;
    --accentClr: #D1F2EB;
    --multiplyer: 9;
}

.section-2 {
    display: grid;
    place-items: center;
    /* border: 1px solid black; */
}
  
.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    
    /* background-color: var(--bgd); */
}

.slider-track {
    display: flex;
    width: calc(250px * 18);
    
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll 40s linear infinite;         /* Animation */
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
}

/* For Firefox */
/* @-moz-keyframes scroll {
    0% { -moz-transform: translateX(0%); }
    100% { -moz-transform: translateX(calc(var(--dir) * var(--multiplyer))); }
} */

/* for Chrome */
/* @-webkit-keyframes scroll {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(calc(var(--dir) * var(--multiplyer))); }
} */

@keyframes scroll {
    0% { -moz-transform: translateX(0%);
         -webkit-transform: translateX(0%);
         transform: translateX(0%); }
    100% { -moz-transform: translateX(calc(var(--dir) * var(--multiplyer)));
           -webkit-transform: translateX(calc(var(--dir) * var(--multiplyer)));
           transform: translateX(calc(var(--dir) * var(--multiplyer))); }
}

#reverse {
    animation-direction: reverse;
}

.slider-track:hover {
    animation-play-state: paused;
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    /* border: 1px solid black; */
}

img {
    width: 100%;
    aspect-ratio: 16/9;
    transition: transform 1s;
    box-shadow: 5px 10px 18px #888888;
}

img:hover {
    transform: translateZ(20px);
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
