.wrapper {
  display: block;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  width: 100%;
  
  text-align: center;
  box-sizing: content;
}

/* Background picture */
.section {
  height: 55vh;
  width: 100%;
}

.wc-bgd-img {
  background-image: url('../Images/friendly-cornerShort-min.png');
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 100%;
  width: 100%;
}

/* Secondary container */
.sub {
  display: flex;
  justify-content: center;

  height: 35vh;
  width: 100%;
  padding-bottom: 50px;
}

/* About us */
.about-sub {
  background-color: rgb(172, 107, 105);
  color: #fff5e9;
}

/* Text container */
.text {
  font-family: 'DM Sans', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 55rem;
  
  animation: abt-fade-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.text h1 {
  font-family: "EB Garamond", serif;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.text h3 {
  font-size: 2rem;
  font-weight: 400;
}

.text p, figcaption, figcaption a {
  font-size: 1.5rem;
}

@keyframes abt-fade-in {
  0% { opacity: 0%; }
  100% { opacity: 100%; }
}

/* Galery */
.cowork-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: 100%;
  width: 100%;
}

.cowork-text {
  width: 45vw;
}

.photo-frame {
  display: inline-flex;
  justify-content: center;
  column-gap: 50px;
  
  width: 50%;
  margin-top: 100px;
}

figure .image {
  height: 500px;
  width: 500px;
}

figcaption a {
  color: rgb(172, 107, 105);
  font-weight: 600;
  text-decoration: none;
}

figcaption a:visited {
  color: rgb(172, 107, 105);
}

/* Insta feed */
.insta-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80% ;
  height: 80vh;
}

.instagram-embed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
  overflow: hidden;
}

.instagram-embed iframe {
  width: calc(100% + 32px);
  height: 100%;
  border: 0;

}

@media screen and (max-width: 1800px) {
  .insta-sub {
    height: 60vh;
  }
}

@media screen and (max-width: 1690px) {
  .text h1 {
    font-size: 3.5rem;
  }
  
  .text h3 {
    font-size: 2rem;
    font-weight: 400;
  }
  
  .text p, figcaption, figcaption a {
    font-size: 1.1rem;
  }

  .photo-frame {
    column-gap: 50px;
    
    width: 50%;
    margin-top: 100px;
  }
  
  figure .image {
    height: 350px;
    width: 350px;
  }

  .insta-sub {
    height: 80vh;
  }
}

@media screen and (max-width: 980px) {
  .section {
    height: 20vh;
  }

  .sub {
    height: 35vh;
    width: 100%;
    padding-bottom: 10px;
  }

  .text {
    width: 90%;
  }

  .text h1 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .text h3 {
    font-size: 1rem;
    font-weight: 400;
  }

  .cowork-text {
    width: 80vw;
  }
  
  .photo-frame {
    display: inline-flex;
    justify-content: center;
    column-gap: 20px;
    
    width: 90%;
    margin-top: 50px;
    overflow: hidden;
  }
  
  figure .image {
    height: 150px;
    width: 150px;
  }

  .text p, figcaption, figcaption a {
    font-size: .8rem;
  }

  .insta-sub {
    width: 100% ;
    height: 480px;
  }
  
  .instagram-embed {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .insta-sub{
    height: 55vh;    
  }
}