.login-modal {
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px 35px 20px 20px;
    z-index: 1000; /* Higher than overlay */
}

.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent */
    backdrop-filter: blur(3px);
    z-index: 999; /* High z-index to cover the app */
}

.close-btn-cont {
    position: absolute;
    /* background-color: red; */
    top: 10px;
    width: 90%;
    height: 30px;
    display: flex;
    justify-content:end;
    align-items:center ;
}

.close-btn {
    background-color: white;
    font-size: 1.5rem;
    color: black;
    /* padding: 8px 20px; */
    border: none;
    width: 25px;
    display: block;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
}


/* Container */
.container {
    border-radius: 50px;
    padding: 16px;
}

.container h1 {
    font-family: "EB Garamond", serif;
}

/* Heading */
.heading {
    font-size: 1.5rem;
    color: #4b5563;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
}

/* Form */
.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Input label */
.input-label {
    font-size: 0.875rem;
    color: #6b7280;
}

/* Input */
.input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    background-color: #f9fafb;
}

.input:focus {
    outline: 2px solid #3b82f6;
}

/* Password input container */
.password-input-container {
    position: relative;
}

/* Submit button */
.button {
    background-color: #3b82f6;
    color: white;
    padding: 8px 20px;
    border-radius: 50px;
    margin-top: 28px;
    width: 100%;
    display: block;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
}

.button:hover {
    background-color: rgba(59, 130, 246, 0.8);
}

.icon-button {
    color: #333; /* Change this to a color that contrasts with your background */
    font-size: 1.2em; /* Adjust the icon size if needed */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 1; /* Ensure the icon is on top */
}

.remember-me {
    margin-right: 10px;
}