.section-2 {
    height: 95vh;
}

.meetingRoom-bgd-img {
    background-image: url('../Images/bgd-meeting-min.jpg');
    
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.meetingRoom-sub {
    height: 45vh;
    background-color: rgb(69,113, 87);
    color: #fff5e9;
}

.meetingRoom-text {
    width: 50rem;
}

.meetRoom-text h1 {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 2px;
}

.meetRoom-post-img {
    background-image: url('../Images/bgd-sofa-min.jpg');

    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 0 -500; */

    animation: sofa-slide 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes sofa-slide {
    0% {background-position: 0 -100px;}
    100% {background-position: 0 -350px;}
  }

@media(max-width: 1040px) {

}
  
@media(max-width: 800px) {

}  