/* background image */
.office-bgd-img {
    background-image: url('../Images/bgd-blueOffice-min.jpg');
    
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Text content sub */
.office-sub {
    height: 50vh;
    background-color: rgb(52, 95, 121);
    color: #fff5e9;
}

.office-sub .text {
    width: 50rem;
}

/* Galery container */
.gry-cont {
    height: 80vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.photo-album {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    width: 90%;
    height: 100%;
}

@media(max-width: 1040px) {
    
    .photo-album {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
}

@media(max-width: 800px) {
    
    .photo-album {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
}  