/* Section 3 - Prices */

.section-3 {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* border: 1px solid red; */
    background-color: rgba(148, 105, 189, 0.575);
}

.pr-bgd-img {
    z-index: 0;
}

.section-3 h1 {
    font-size: 3rem;
}

div .pr-tables {
    height: 60%;
    width: 100%;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin: 40px 0 0 0;
    z-index: 1;

    border-top: 0;
    position: relative;
    left: 1FR;
    padding: 20px 0 0 0;

    /* border: 1px solid red; */
}

table {
    text-align: left;
}

.tbl-spacer {
    width: 60px;
}

.included {
    position: absolute;
    background-color: rgba(37, 9, 41, 0.753);
    padding: 20px;
    height: 30%;
    width: 100%;
    bottom: 0px;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: wide-out linear forwards;       /* Animation */
    animation-timeline: view();
    animation-range: 100px 500px;
    scale: 0 1;
}

@keyframes wide-out {
    100% { scale: 1 1; }
}
