.admin-cont {
    display: flex;
    font-family: var(--ff-text);

}

.logout-cont {
    width: 100%;
    /* background-color: red; */
    display: inline-flex;
    position: absolute;
    justify-content: end;
}   

.logout-btn {
    margin: 10px 20px;
    border: none;
    background-color: var(--clr-bgd-white);
    font-size: 1rem;
}

.adm-sidebar {
    width: 200px;
    height: 90vh;
    background-color: var(--clr-bgd-blue);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.adm-sidebar .adm-link {
    color: var(--clr-font-light);
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.5s;
}

.adm-sidebar .adm-link:hover {
    background-color: #34495e;
}

.adm-panel {
    flex: 1; 
    padding: 20px; 
    background-color: var(--clr-bgd-white); 
}