@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

#root {
  --bgd: #E9F2F3;
  --text: #2c3e50;
  --menuBgd: #C1D9E9;
  --buttonClr: #C9E4D6;
  --accentClr: #D1F2EB;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
  /* IE and Edge */
  -ms-overflow-style: none;  
  /* Firefox */
  scrollbar-width: none;
}

/* Chrome, Safari and Opera  */
html::-webkit-scrollbar {
  display: none;
}

:root {
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text);
  color-scheme: light dark;
  background-color: var(--bgd);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}